
h1 {
font-family: "Arial Black", Gadget, sans-serif;
font-size: 40px;
letter-spacing: -1.2px;
word-spacing: 0.4px;
color: #FFFFFF;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}

h5 {
font-family: "Arial Black", Gadget, sans-serif;
font-size: 20px;
letter-spacing: -1.2px;
word-spacing: 0.4px;
color: #FFFFFF;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}

#buttontext {
  background-color: #188ff0;
  border: none;
  color: white;
  padding: 5px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#buttontext:hover {
  background-color: #334fcd;
}
#buttontext:active {
  background-color: #3359cd;
}

hr{
        height: 4px;
        background-color: #3464eb;
        border: none;
    }

input[type=text] {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px #fc03d3;
  border-radius: 4px;
  background-color: #a7fafa;
  transition: width 0.4s ease-in-out;
}
